.footer {
    padding: 60px 20px 70px;
    text-align: center;
    background-color: #2d3651;
    height: 250px;

    &__container {
        @extend %container;
    }

    &__icon {
        position: relative;
        display: grid;
        justify-content: center;
        margin-bottom: 50px;
        grid-template-columns: repeat(auto-fit, minmax(50px, max-content));

        &::after {
            position: absolute;
            bottom: -25px;
            left: calc(50% - 75px / 2);
            width: 75px;
            height: 2px;
            content: "";
            background-color: rgba(255, 255, 255, 0.1);
        }
    }

    &__icon .fab {
        font-size: 36px;
    }

    &__social a {
        display: block;
        padding: 10px;
        text-decoration: none;
        color: #ffffff;
        transition: color 0.5s;
    }

    &__icon a:hover {
        transition: 0.8s;
        color: $color-accent;
    }

    &__text span:nth-of-type(1) {
        margin-top: 100px;
        text-align: center;
        margin-right: -0.5em;
        letter-spacing: 0.33em;
        font-weight: 100;
    }

    &__text span:nth-of-type(2) {
        text-align: center;
        letter-spacing: 0.05em;
        color: #e5e5e5;
        font-weight: 700;
    }
}




// .footer__copy span:nth-of-type(1) {
//     margin-right: -0.5em;
//     letter-spacing: 0.33em;
//     font-weight: 100;
// }